<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Gladston Aristoverne | Développeur Web Guadeloupe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Développeur web Freelance en Guadeloupe - Votre site sur mesure adapté aux mobiles suivant les bonnes pratiques pour optimiser le référencement naturel">
    <meta name="keywords" content="HTML CSS JavaScript AngularJS Wordpress référencement naturele SEO">
    <meta name="author" content="Gladston Aristoverne">
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app" class="container">
        <!--LEFT SIDE OF RESUME-->
        <section class="blockLeft">
            <div class="blockLeft__img">
                <img src="images/glad.jpg" alt="gladston-aristoverne">
            </div>
            <h2 class="blockLeft__heading">CONTACT</h2>
            <ul class="blockLeft__ul">
                <li>
                    <p> <i class="fas fa-map-marker-alt"></i> Petit-Bourg | Guadeloupe</p>
                </li>
                <li>
                    <p> <i class="fas fa-mobile-alt"></i> {{ personne.telephone}}</p>
                </li>
                <li>
                    <p>Site web: <a href="www.glad-ston.fr"> {{ personne.website }}</a> </p>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/gladston-developpeur-web/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Iamglads"><i class="fab fa-github"></i></a>
                </li>
            </ul>
            <h2 class="blockLeft__heading"> A PROPOS DE MOI</h2>
            <p class="blockLeft__paragraph"> Hello, je m’appelle Gladston, j’ai 25 ans et je vis en Guadeloupe. Je me
                forme au métier de développeur web. C’est une passion découverte durant ma période en entreprise. J’ai
                voulu mettre en place un site web afin de placer mon entreprise au coeur d’une stratégie digital. J’ai
                pris goût durant ce challenge personnel, j’ai décidé d’en faire mon métier. J’aime apprendre de
                nouvelles choses que ce soit apprendre à réparer une machine à laver ou apprendre un nouveau langage
                web, je prends le même plaisir.
            </p>

            <h2 class="blockLeft__heading"> Stack</h2>
            <!--ICONS-->
            <div class="blockLeft__hobbies">
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3"></i>
                <i class="fab fa-sass"></i>
                <i class="fab fa-js"></i>
                <i class="fab fa-vuejs"></i>
            </div>
        </section>
        <!--RIGHT SIDE OF RESUME-->
        <section class="blockRight">
            <header>
                <h1 class="name"> <span>{{ personne.prenom }}</span> {{ personne.nom }}</h1>
                <p>{{ personne.metier }}</p>
                <div class="headerDivider"></div>
            </header>
            <!--SECTION FORMATION-->
            <section class="education">
                <h2><i class="fas fa-award"></i> FORMATION</h2>
                <div class="divider"></div>
                <ul v-for='info in formation'>
                    <li class="educationLeft">
                        <span class="icon"><i class="far fa-dot-circle"></i></span>
                        <div>
                            <p class="p">{{ info.date }}</p>
                            <p class="p">{{ info.ville}}</p>
                        </div>
                    </li>
                    <li class="educationRight">
                        <h3>{{ info.ecole }}</h3>
                        <h4>{{ info.parcours }}</h4>
                        <p> {{ info.text }}</p>
                    </li>
                </ul>
            </section>
            <!--END SECTION-->
            <!--SECTION EXPERIENCE-->
            <section class="experience">
                <h2><i class="fas fa-suitcase"></i> EXPERIENCE PROFESSIONELLE</h2>
                <div class="divider"></div>
                <ul v-for='infos in experience'>
                    <li class="experienceLeft">
                        <span class="icon"><i class="far fa-dot-circle"></i></span>
                        <div>
                            <p class="p"> {{ infos.date }}</p>
                            <p class="p"> {{ infos.ville }}</p>
                        </div>
                    </li>
                    <li class="experienceRight">
                        <h3>{{ infos.metier }}</h3>
                        <h4>{{ infos.status }} </h4>
                        <p> {{ infos.text }}</p>
                    </li>
                </ul>
            </section>
            <!--END-->
            <!--SECTION RECOMMANDATIONS-->
            <section class="recommendation">
                <h2><i class="fas fa-pencil-alt"></i> RECOMMANDATIONS</h2>
                <div class="divider"></div>
                <ul>
                    <li>
                        <h5> Judith Bauge</h5>
                        <h6> Agent immobilier</h6>
                        <p> Email: judith.bauge@gmail.com.fr</p>
                    </li>
                </ul>
            </section>
            <!--END-->

            <footer>
                <p>Gladston Aristoverne | 2020 - Formation <a href="https://openclassrooms.com">Openclassrooms</a>
                </p>
            </footer>

        </section>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./vue.js">

       

    </script>
</body>

</html>